{% extends "base.html"%}

{% load static %}
{% load i18n %}

{% block content %}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-3-4">
    {% for article in articles %}
    {% if article.published %}
        <article class="uk-article">
            <h1 class="uk-article-title">
                <a href="{% url 'article-detail' article.slug %}">{{article.title}}</a>
            </h1>
            <p class="uk-article-meta">Autor: {{article.author|capfirst}} | {{article.created}} Posted in <a href="#">Blog</a></p>
            <div class="uk-grid">
            <div class="uk-width-1-6">
                <p>
                    <a href="{% url 'article-detail' article.slug %}"><img width="300" height="300" src="{% get_media_prefix %}{{article.img.small}}"
                                                                           alt="{{article.title}}"></a>
                </p>
            </div>
            <div class="uk-width-5-6">
                <p>{{article.short_description}}</p>
            </div>
        </div>
        </article>
    {% endif %}
    {% endfor %}

        <ul class="uk-pagination">
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
            <li class="uk-active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><span>...</span></li>
            <li><a href="#">20</a></li>
            <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
        </ul>

    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel">
            <h3 class="uk-panel-title">Archives</h3>
            <ul class="uk-list uk-list-line">
                <li><a href="#">January 2014</a></li>
                <li><a href="#">December 2013</a></li>
                <li><a href="#">November 2013</a></li>
                <li><a href="#">October 2013</a></li>
                <li><a href="#">September 2013</a></li>
            </ul>
        </div>
        <div class="uk-panel">
            <h3 class="uk-panel-title">Social Links</h3>
            <ul class="uk-list">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}