{% extends "base.html"%}

{% block content %}
<div class="ui text container">
    {% for article in articles %}
    {% if article.published %}
    <div class="ui segment">
        <a href="{% url 'article-detail' article.slug %}">`
            <h2 class="ui header">{{article.title}}</h2>
        </a>
        <div class="ui grid">
            <div class="two column row">
                <div class="column">
                    <h4 class="sub header">{{article.timestamp}}</h4>
                </div>
                <div class="column">
                    <h4 class="sub header">Author: {{article.author}}</h4>
                </div>
            </div>
            <a href="{% url 'article-detail' article.slug %}">
                <p>{{article.short_description}}</p>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}