<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link href="{% static 'uikit/css/uikit.min.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
</head>
<body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    {% include "navbar.html" %}

    {% block content %}
    {% endblock %}
    </div>

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>